<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="softwaretestingboard">
        <groups>
            <run>
                <include name="workflow"></include>
            </run>
        </groups>
        <classes>
            <class name="company.tests.StandAloneTest">
                <methods>
                    <include name="shopping"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>